.mobile-filter-item{
    position: relative;
    align-items: center;
    background: #f3f4f6;
    border: 1px solid #e5e7eb;
    border-radius: 10px;
    color: #444;
    cursor: pointer;
    display: flex;
    font-size: 12px;
    height: 34px;
    margin: 0 5px 5px 0;
    padding: 5px 10px;
    white-space: nowrap;

    &.parent-active {
        background: #fef2f2;
        border-color: var(--color-primary);
        .filter-item-label {
            color: var(--color-primary);
        }
        .filter-item-arrow{
            color: var(--color-primary);
        }
    }

    &.active { 
        background: #fef2f2;
        border-color: var(--color-primary);

        .filter-item-label {
            color: var(--color-primary);
        }
        .filter-item-arrow{
            color: var(--color-primary);
        }
        .filter-item-icon{
            color: var(--color-primary);
        }
    }

    &-header{
        display: flex;
        align-items: center;
        gap: 5px;

        .filter-item-icon{
            font-size: 12px;
        }
        .filter-item-label{
            font-size: 12px;
            color: #444;
        }

        .filter-item-arrow{
            font-size: 16px;
        }
    }

    .mobile-filter-submenu{
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        top: 45px;
        background-color: #fff;
        border: 1px solid #eee;
        border-radius: 8px;
        box-shadow: 0 2px 20px rgba(0, 0, 0, .5);
        padding: 10px 10px 5px 10px;
        transition: 0.5s;
        width: 350px;
        z-index: 2;


        &::after{
            border-bottom: 10px solid #fff;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            content: "";
            left: 30px;
            position: absolute;
            top: -10px;
        }

        .mobile-submenu-item{
            align-items: center;
            background: #f3f4f6;
            border: 1px solid #e5e7eb;
            border-radius: 10px;
            color: #444;
            cursor: pointer;
            display: flex;
            font-size: 12px;
            height: 34px;
            margin: 0 5px 5px 0;
            padding: 5px 10px;
            white-space: nowrap;

            &.active { 
                background: #fef2f2;
                border-color: var(--color-primary);

                .mobile-submenu-item-label{
                    color: var(--color-primary);
                }
            }
        }
    }

    .price-container{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        padding-bottom: 1rem;

        &::after{
            left: 1rem;
        }
    }
}