.wrapper-laptop {
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1160px;
    margin: 1rem auto;

    .laptop-header {
        display: flex;
        justify-content: space-between;
        gap: 3rem;
        h2{
            font-size: 2.2rem;
            font-weight: 700;
            color: #444;
            text-transform: uppercase;
        }

        .laptop-list {
            display: flex;
            gap: 6px;
            cursor: pointer;
            &-item {
                background-color: #f3f4f6;
                border: 1px solid #e5e7eb;
                border-radius: 10px;
                color: #444;
                float: right;
                font-size: 13px;
                height: 34px;
                padding: 5px 10px;
                white-space: nowrap;
            }
        }
    }

    .laptop-slider {
        padding-top: 1.5rem;
        .card-item{
            .card-item-name{
                text-transform: capitalize;
            }
        }
    }
}