.slider-container {
    width: 1160px;
    padding: 0.5rem;
    position: relative;
}

.slider-contain .custom-next-arrow {
    right: 4px !important;
    top: 47% !important;
    cursor: pointer;
    svg {
        color: var(--color-grey-500) !important;
        background: rgba($color: #fff, $alpha: 0.5);
        border-radius: 100px 0 0 100px;
        box-shadow: -5px 0 4px 0 rgba(0,0,0,.2);
        height: 50px !important;
    }
}

.slider-contain .custom-prev-arrow {
    left: -15px !important;
    top: 47% !important;
    cursor: pointer;
    svg {
        color: var(--color-grey-500) !important;
        background: rgba($color: #fff, $alpha: 0.5);
        border-radius: 0 100px 100px 0;
        box-shadow: 5px 0 4px 0 rgba(0,0,0,.2);
        height: 50px !important;
    }
}
