.modal-wrapper{
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: transparent;
    backdrop-filter: blur(5px);
    z-index: 900;

    .modal{
        background-color: #fff;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        max-width: 350px;
        padding: 15px;
        text-align: center;
        position: absolute;
        top: 35%;
        left: 40%;
        z-index: 1000;
        animation: scaleUp .4s cubic-bezier(.165,.84,.44,1) forwards;
    
        &-smember{
            display: flex;
            flex-direction: column;
            align-items: center;
            
            &-title{
                color: #d70018;
                font-size: 25px;
            }
        }
    
        &-desc{
            font-size: 15px;
            font-weight: 700;
            line-height: 20px;
            padding: 1px;
            text-align: center;
        }
    
        &-btn{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            gap: 1rem;
    
            .register-btn {
                min-width: 150px;
                min-height: 48px;
                align-items: center;
                background-size: 200% auto;
                background: transparent;
                color: #dd2440;
                border: 2px solid #dd2440;
                border-radius: 8px;
                box-shadow: 0 0 20px #eee;
                cursor: pointer;
                display: flex;
                flex: 1;
                font-weight: 600;
                justify-content: center;
                padding: 10px;
                text-align: center;
                transition: .5s;
                &:hover{
                    transform: scale(1.1);
                }
            }
    
            .login-btn {
                min-width: 150px;
                min-height: 48px;
                background-image: linear-gradient(90deg, #ff512f, #dd2440 51%, #ff512f);
                color: var(--color-white);
                align-items: center;
                background-size: 200% auto;
                border-radius: 8px;
                box-shadow: 0 0 20px #eee;
                cursor: pointer;
                display: flex;
                flex: 1;
                font-weight: 600;
                justify-content: center;
                padding: 10px;
                text-align: center;
                transition: .5s;
                &:hover{
                    transform: scale(1.1);
                }
            }
        }
    
        &-close-btn{
            background-color: hsla(0, 0%, 4%, .2);
            position: absolute;
            right: 10px;
            top: 10px;
            border-radius: 50%;
            outline: none;
            height: 24px;
            max-height: 24px;
            max-width: 24px;
            min-height: 24px;
            min-width: 24px;
            width: 24px;
    
            &::before{
                height: 2px;
                width: 50%;
                background-color: #fff;
                content: "";
                display: block;
                left: 50%;
                position: absolute;
                top: 50%;
                transform: translateX(-50%) translateY(-50%) rotate(45deg);
                transform-origin: center center;
            }
            &:after{
                height: 50%;
                width: 2px;
                background-color: #fff;
                content: "";
                display: block;
                left: 50%;
                position: absolute;
                top: 50%;
                transform: translateX(-50%) translateY(-50%) rotate(45deg);
                transform-origin: center center;
            }
        }
    }
}

@keyframes scaleUp{
    0%{
        opacity: 0;
        transform: scale(.8) translateY(1000px);
    }
    100%{
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

