.top-banner-carousel{
    background-color: var(--color-slider-gray);
    
    &-item{
        display: flex;
        align-items: center;
        &-img{
            // height: 40px;
            // width: auto !important;
            // border-radius: 50px;
            // display: block;
            // margin: auto;
        }
    }

        
    
}