.price-slider {
  margin: 10px 0;
  z-index: 2;
  
  .price-range {
    display: flex;
    font-size: 16px;
    justify-content: space-between;
    margin-bottom: 5px;
  }
}

.horizontal-slider {
  width: 300px;
  height: 10px;
}

.example-thumb {
  position: absolute;
  left: 0;
  top: -4px;
  height: 20px;
  width: 20px;
  background-color: #fff;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid var(--color-primary);
}

.example-thumb-0{
  z-index: 2 !important;
}

.example-track {
  top: 0;
  bottom: 0;
  background: #ddd;
}

.example-track:nth-child(2) {
  background: var(--color-primary); /* Màu giữa hai thumb */
}
