.header-container {
    box-sizing: border-box;
    background-color: var(--color-primary);
    display: block;
    margin: 0 auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

    .header-content {
        align-items: center;
        display: flex;
        height: 64px;
        justify-content: center;
        align-items: center;
        gap: 2px;
        margin: 0 auto;
        padding: 0;
        width: 100%;

        .header-logo {
            align-items: stretch;
            display: flex;
            flex-shrink: 0;
            min-height: 3.25rem;
            margin: 1rem;

            .logo{
                align-items: center;
                display: flex;
                width: 161px;
            }
        }

        .header-category {
            align-items: center;
            border-radius: 10px;
            cursor: pointer;
            display: flex;
            gap: 4px;
            height: 42px;
            padding: 3px 5px;
            position: relative;
            -webkit-text-decoration: none !important;
            text-decoration: none !important;
            background: hsla(0, 0%, 100%, .2);

            .category-logo {
                align-items: center;
                display: flex;
            }

            .category-text{
                line-height: 1;
                width: 60px;

                p{
                    color: var(--color-white);
                    font-size: 12px;
                }
            }
        }

        .header-location {
            align-items: center;
            background: hsla(0,0%,100%,.2);
            border-radius: 10px;
            cursor: pointer;
            display: flex!important;
            float: left;
            margin: 0 10px;
            padding: 3px 5px;
            position: relative;
            text-align: center;
            width: 130px;

            .location-icon {
                float: left;
                height: 25px;
                margin-right: 5px;
                width: 25px;
                color: var(--color-white);
            }

            .location-content {
                color: var(--color-white);
                min-width: 75px;
                text-align: left;

                .content-see-more {
                    color: var(--color-white);
                    font-size: 10px;
                    line-height: 15px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .location-content-items-arrow{
                        fill: rgb(255, 255, 255);
                        width: 1.5rem;
                        height: 1.5rem;
                    }
                }

                .content-name-text{
                    align-items: center;
                    display: flex;
                    font-size: 14px;
                    line-height: 18px;
                    margin-bottom: 0;
                }
            }
        }

        .header-search {
            float: left;
            margin: 0 10px 0 0;
            width: 300px;
            
            form{
                box-sizing: border-box;
                position: relative;

                .search-container{
                    background-color: var(--color-white);
                    border-radius: 10px;
                    display: flex;
                    align-items: center;

                    .search-icon{
                        background-color: var(--color-white);
                        border: 0;
                        border-radius: 10px 0 0 10px;
                        box-sizing: border-box;
                        color: #707070;
                        height: 34px;
                        margin-left: 1rem;
                        cursor: pointer;
                    }

                    .search-input{
                        border: 0;
                        border-radius: 0 10px 10px 0;
                        font-size: 16px;
                        height: 34px;
                        outline: none;
                        padding: .5rem 2rem .5rem .6rem;
                        width: 100%;
                    }
                }
            }
        }

        .header-contact {
            align-items: center;
            border-radius: 10px;
            cursor: pointer;
            display: flex;
            height: 42px;
            padding: 3px 5px;
            position: relative;
            -webkit-text-decoration: none!important;
            text-decoration: none!important;

            &:hover{
                background: hsla(0,0%,100%,.2);
            }

            .contact-link {
                display: flex;
                align-items: center;
                .header-contact-icon {
                    margin-right: 5px;
                    width: 24px;
                    height: 24px;
                    color: var(--color-white);
                }

                .header-contact-content {
                    color: var(--color-white);
                    font-size: 12px;
                    line-height: 1.5;
                    .content-text {
                        color: inherit;
                        font-size: inherit;
                        font-weight: inherit;
                        line-height: inherit;
                        margin-bottom: 0;
                        word-break: inherit;
                    }
                }
            }
        }

        .header-store {
            align-items: center;
            border-radius: 10px;
            cursor: pointer;
            display: flex;
            height: 42px;
            padding: 3px 5px;
            position: relative;
            -webkit-text-decoration: none!important;
            text-decoration: none!important;

            &:hover{
                background: hsla(0,0%,100%,.2);
            }

            .store-link {
                display: flex;
                align-items: center;
                .store-icon {
                    margin-right: 5px;
                    width: 24px;
                    height: 24px;
                    color: var(--color-white);
                }

                .store-content {
                    color: var(--color-white);
                    font-size: 12px;
                    line-height: 1.5;
                    .store-text {
                        color: inherit;
                        font-size: inherit;
                        font-weight: inherit;
                        line-height: inherit;
                        margin-bottom: 0;
                        word-break: inherit;
                    }
                }
            }
        }

        .header-order {
            align-items: center;
            border-radius: 10px;
            cursor: pointer;
            display: flex;
            height: 42px;
            padding: 3px 5px;
            position: relative;
            -webkit-text-decoration: none!important;
            text-decoration: none!important;

            &:hover{
                background: hsla(0,0%,100%,.2);
            }

            .order-link {
                display: flex;
                align-items: center;
                .order-icon {
                    margin-right: 5px;
                    width: 24px;
                    height: 24px;
                    color: var(--color-white);
                    transform: rotateY(180deg);
                }

                .order-content {
                    color: var(--color-white);
                    font-size: 12px;
                    line-height: 1.5;
                    .order-text {
                        color: inherit;
                        font-size: inherit;
                        font-weight: inherit;
                        line-height: inherit;
                        margin-bottom: 0;
                        word-break: inherit;
                    }
                }
            }
        }

        .header-cart {
            align-items: center;
            border-radius: 10px;
            cursor: pointer;
            display: flex;
            height: 42px;
            padding: 3px 5px;
            position: relative;
            -webkit-text-decoration: none!important;
            text-decoration: none!important;

            &:hover{
                background: hsla(0,0%,100%,.2);
            }

            .cart-link {
                display: flex;
                align-items: center;
                .cart-icon {
                    margin-right: 5px;
                    width: 24px;
                    height: 24px;
                    color: var(--color-white);
                    transform: rotateY(180deg);
                }

                .cart-content {
                    color: var(--color-white);
                    font-size: 12px;
                    line-height: 1.5;
                    .cart-text {
                        color: inherit;
                        font-size: inherit;
                        font-weight: inherit;
                        line-height: inherit;
                        margin-bottom: 0;
                        word-break: inherit;
                    }
                }
            }
        }

        .header-user {
            align-items: center;
            border-radius: 10px;
            background: hsla(0, 0%, 100%, .2);
            cursor: pointer;
            display: flex;
            height: 42px;
            padding: 3px 5px;
            position: relative;
            -webkit-text-decoration: none!important;
            text-decoration: none!important;

            .user-link {
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                
                .user-icon {
                    margin-top: 5px;
                    width: 20px;
                    height: 20px;
                    color: var(--color-white);
                    transform: rotateY(180deg);
                }

                .user-content {
                    color: var(--color-white);
                    font-size: 12px;
                    line-height: 1.5;
                    .user-text {
                        color: inherit;
                        font-size: inherit;
                        font-weight: inherit;
                        line-height: inherit;
                        margin-bottom: 0;
                        word-break: inherit;
                        white-space: nowrap;
                        margin: 0 5px;
                    }
                }
            }
        }
    }
}