.mobile-content-wrapper{
    margin-top: 64px;
    width: 100%;
    

    .mobile-navigator-container{
        width: 100%;
        background: #fff;
        position: fixed;
        box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .1), 0 2px 6px 2px rgba(60, 64, 67, .15);
        z-index: 3;


        .mobile-navigator-content{
            width: 1200px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            padding: 0.5rem 0;

            .home-navigator{
                display: flex;
                align-items: center;
                gap: 1rem;

                &-icon{
                    font-size: 12px;
                    color: var(--color-primary);
                }
                &-text{
                    color: #707070;
                    font-size: 12px;
                    margin-bottom: 0;
                    margin-right: 10px;
                    text-decoration: none;
                    white-space: nowrap;
                }
            }

            .arrow-icon{
                font-size: 12px;
            }

            .mobile-navigator{
                display: flex;
                align-items: center;

                &-text{
                    color: #707070;
                    font-size: 12px;
                    margin-bottom: 0;
                    margin-left: 10px;
                    text-decoration: none;
                    white-space: nowrap;
                }
            }
        }
    }

    .mobile-filter{
        width: 1200px;
        margin: 0 auto;
        padding-top: 3rem;
        
        &-title{
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 5px;
            padding-top: 1rem;
        }

        &-list{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 1rem;

            .mobile-filter-item{
                position: relative;
                align-items: center;
                background: #f3f4f6;
                border: 1px solid #e5e7eb;
                border-radius: 10px;
                color: #444;
                cursor: pointer;
                display: flex;
                font-size: 12px;
                height: 34px;
                margin: 0 5px 5px 0;
                padding: 5px 10px;
                white-space: nowrap;

                &.parent-active {
                    background: #fef2f2;
                    border-color: var(--color-primary);
                    .filter-item-label {
                        color: var(--color-primary);
                    }
                    .filter-item-arrow{
                        color: var(--color-primary);
                    }
                }

                &.active { 
                    background: #fef2f2;
                    border-color: var(--color-primary);

                    .filter-item-label {
                        color: var(--color-primary);
                    }
                    .filter-item-arrow{
                        color: var(--color-primary);
                    }
                    .filter-item-icon{
                        color: var(--color-primary);
                    }
                }

                &-header{
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    .filter-item-icon{
                        font-size: 12px;
                    }
                    .filter-item-label{
                        font-size: 12px;
                        color: #444;
                    }

                    .filter-item-arrow{
                        font-size: 16px;
                    }
                }

                .mobile-filter-submenu{
                    display: flex;
                    flex-wrap: wrap;
                    position: absolute;
                    top: 45px;
                    background-color: #fff;
                    border: 1px solid #eee;
                    border-radius: 8px;
                    box-shadow: 0 2px 20px rgba(0, 0, 0, .5);
                    padding: 10px 10px 5px 10px;
                    transition: 0.5s;
                    width: 350px;
                    z-index: 2;

                    &::after{
                        border-bottom: 10px solid #fff;
                        border-left: 10px solid transparent;
                        border-right: 10px solid transparent;
                        content: "";
                        left: 30px;
                        position: absolute;
                        top: -10px;
                    }

                    .mobile-submenu-item{
                        align-items: center;
                        background: #f3f4f6;
                        border: 1px solid #e5e7eb;
                        border-radius: 10px;
                        color: #444;
                        cursor: pointer;
                        display: flex;
                        font-size: 12px;
                        height: 34px;
                        margin: 0 5px 5px 0;
                        padding: 5px 10px;
                        white-space: nowrap;

                        &.active { 
                            background: #fef2f2;
                            border-color: var(--color-primary);

                            .mobile-submenu-item-label{
                                color: var(--color-primary);
                            }
                        }
                    }
                }

                .filter-btn-submenu{
                    display: grid;
                    grid-template-columns: repeat(3,1fr);
                    gap: 1rem;
                    position: absolute;
                    top: 45px;
                    background-color: #fff;
                    border: 1px solid #eee;
                    border-radius: 8px;
                    box-shadow: 0 2px 20px rgba(0, 0, 0, .5);
                    padding: 10px 10px 5px 10px;
                    transition: 0.5s;
                    width: 800px;
                    max-height: 500px;
                    overflow-y: scroll;
                    z-index: 4;

                    &::after{
                        border-bottom: 10px solid #fff;
                        border-left: 10px solid transparent;
                        border-right: 10px solid transparent;
                        content: "";
                        left: 30px;
                        position: absolute;
                        top: -10px;
                    }

                    &-item{


                        .filter-btn-submenu-label{
                            font-size: 15px;
                            font-weight: 700;
                            text-align: start;
                            margin-bottom: 5px;
                        }

                        .filter-btn-submenu-children{
                            display: flex;
                            flex-wrap: wrap;

                            .filter-submenu-children-item{
                                align-items: center;
                                background: #f3f4f6;
                                border: 1px solid #e5e7eb;
                                border-radius: 10px;
                                color: #444;
                                cursor: pointer;
                                display: flex;
                                font-size: 12px;
                                height: 34px;
                                margin: 0 10px 10px 0;
                                padding: 5px 10px;
                                white-space: nowrap;

                                &.active { 
                                    background: #fef2f2;
                                    border-color: var(--color-primary);

                                    .mobile-submenu-item-label{
                                        color: var(--color-primary);
                                    }
                                }
                            }
                        }
                    }
                }

                .submenu-overlay {
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: transparent; 
                    z-index: 1; 
                }
            }
        }
    }

    .filteringby{
        width: 1200px;
        margin: 0 auto;
        padding-top: 1rem;
        display: flex;
        flex-direction: column;

        &-title{
            font-size: 18px;
            font-weight: 700;
            padding-bottom: 5px;
        }

        &-list{
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;

            &-item{
                position: relative;
                align-items: center;
                background: #fef2f2;
                border: 1px solid var(--color-primary);
                border-radius: 10px;
                color: var(--color-primary);
                cursor: pointer;
                display: flex;
                gap: 5px;
                font-size: 12px;
                height: 34px;
                margin: 0 5px 5px 0;
                padding: 5px 10px;
                white-space: nowrap;

                &-remove{
                    font-size: 18px;
                }
            }

            .clear-all-btn {
                position: relative;
                align-items: center;
                background: #fef2f2;
                border: 1px solid var(--color-primary);
                outline: none;
                border-radius: 10px;
                color: var(--color-primary);
                cursor: pointer;
                display: flex;
                gap: 5px;
                font-size: 12px;
                height: 34px;
                margin: 0 5px 5px 0;
                padding: 5px 10px;
                white-space: nowrap;
            }
        }
    }

    .mobile-category{
        width: 1200px;
        margin: 0 auto;
        padding-top: 3rem;
        display: grid;
        grid-template-columns: repeat(5,1fr);
    }
}