.mobile-content-wrapper{
    margin-top: 64px;
    width: 100%;

    .mobile-filter{
        width: 1200px;
        margin: 0 auto;
        padding-top: 3rem;
        
        &-title{
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 5px;
            padding-top: 1rem;
        }

        &-list{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 1rem;
        }
    }

    .mobile-category{
        width: 1200px;
        margin: 0 auto;
        padding-top: 1rem;
        display: grid;
        grid-template-columns: repeat(5,1fr);
    }
}